html {
    font-family: "Bai Jamjuree", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

h4,
h5 {
    color: hsl(210, 10%, 33%);
}

p {
    color: hsl(201, 11%, 66%);
}

h3 {
    font-weight: 600;
}

/* HEADER STYLES */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20vh;
}

.header-back {
    height: 400px;
    width: 1440px;
    max-width: 1440px;
    min-width: 375px;
    object-fit: cover;
    z-index: 0;
}

.header-back img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.header-logo {
    z-index: 1;
    width: 80px;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
}

/* TOP-INFO STYLES */
.top-info-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}

.history {
    color: hsl(210, 10%, 33%);
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 3px;
}

.top-info p {
    font-size: 12px;
    width: 420px;
    color: hsl(201, 11%, 66%);
}

/* BUTTONS STYLES */
.first-button-wrapper {
    max-width: 1440px;
    min-width: 375px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-buttons a {
    display: inline-block;
    width: 150px;
    text-align: center;
    padding: 10px 5px 10px 5px;
    border-radius: 20px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.button-ios {
    background-color: hsl(171, 66%, 44%);
    margin-right: 5px;
    box-shadow: 2px 3px 5px hsla(171, 66%, 44%, 0.264);
}

.button-mac {
    background-color: hsl(233, 100%, 69%);
    margin-left: 5px;
    box-shadow: 2px 3px 5px hsla(233, 100%, 69%, 0.264);
}

.button-ios:hover {
    background-color: hsl(171, 66%, 49%);
}

.button-mac:hover {
    background-color: hsl(235, 78%, 62%);
}

/* SECOND SECTION STYLES */
.second-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}

.second-sec {
    width: 480px;
    padding-bottom: 50px;
}

.second-title {
    color: hsl(210, 10%, 33%);
    font-weight: 600;
    margin-bottom: 1px;
}

.second-text {
    font-size: 12px;
    color: hsl(201, 11%, 66%);
}

/* THIRD SECOND STYLES */
.third-wrapper {
    height: 400px;
    overflow: hidden;
    display: flex;
    padding-bottom: 100px;
}

.third-sec {
    padding-right: 80px;
}

.third-info {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    height: 300px;
    margin-top: 40px;
    line-height: 1.8;
}

.third-title {
    margin-bottom: -8px;
    font-weight: 600;
}

.third-text {
    font-size: 10px;
}

/* FOURTH SECTION STYLES */
.fourth-wrapper {
    height: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 55px;
}

.fourth-title {
    color: hsl(210, 10%, 33%);
    font-size: 22px;
    margin-bottom: 8px;
}

.fourth-text {
    width: 480px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 12px;
    padding-bottom: 70px;
}

/* FIFTH SECTION STYLES "SUPERCHARGE" */
.fifth-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

.fifth-sec {
    width: 1000px;
    text-align: center;
    margin-bottom: 5px;
}

.fifth-text {
    font-size: 12px;
    padding-bottom: 40px;
}

.fifth-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;

}

/* FIFTH SECTION ICONS SVG */
.fifth-icons {
    margin: 0 auto;
    display: flex;
    width: 530px;
    justify-content: space-between;
    align-items: center;
}

/* END */

.fifth-info {
    margin: 0 auto;
    display: flex;
    width: 720px;
    justify-content: space-between;
    text-align: center;
}

.img-and-info {
    display: flex;
    flex-direction: column;
}

.blacklists,
.text-snippets,
.sneak {
    width: 220px;
    display: inline-block;
}

.fifth-blacklist,
.fifth-text-snip,
.fifth-sneak {
    font-size: 10px;
    line-height: 2;
    margin-top: -10px;
}

/* PARTNER LOGO STYLES */
.partner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;

}

.partners {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 70px;
}

/* SIXTH SECTION STYLES */
.sixth-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.sixth-sec {
    width: 470px;
    text-align: center;
    color: hsl(210, 10%, 33%);
}

.sixth-title {
    font-size: 22px;
    margin-bottom: 5px;
}

.sixth-text {
    font-size: 12px;
    padding-bottom: 20px;
}

/* FOOTER STYLES */
.footer-wrapper {
    display: flex;
    width: auto;
    height: 95px;
    background-color: rgba(199, 199, 199, 0.239);
    justify-content: center;
}

.foot-links {
    width: 400px;
    display: flex;
    align-items: center;
    margin-left: -100px;
    padding-top: 20px;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 500;
    align-content: flex-start;
}

.foot-links p {
    width: calc(33.33% - 2px);
    text-align: left;
    margin-top: 10px;
    margin-bottom: -0px;
}


.foot-logo {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
}

.socials {
    display: flex;
    gap: 15px;
    margin-left: -44px;
}

.socials img {
    width: 15px;
}

.footer-content {
    display: flex;
    width: 800px;
    justify-content: space-between;
}